{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Tags" %}
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% endif %}
  {{ macros_head::seo(title=title, title_addition=title_addition, description=config.description) }}
{% endblock seo %}

{% block content %}
<h1 class="title">All Tags</h1>
<div class="tag-list">
  {% for tag in terms %}
    <a class="tag" href="{{ tag.permalink }}" alt="{{ tag.name }}"><span>{{ tag.name }}</span><sup>{{ tag.pages | length }}</sup></a>
  {% endfor %}
</div>
{% endblock content %}