{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Tags" %}
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% endif %}
  {{ macros_head::seo(title=title, title_addition=title_addition, description=config.description) }}
{% endblock seo %}

{% block content %}
<h1 class="text-theme-headline text-4xl sm:text-6xl text-left sm:text-center py-12 sm:py-16">Tags</h1>
<div class="flex flex-wrap max-w-screen-md mx-auto">
  {% for tag in terms %}
    <a class="relative inline-block mb-6 mr-12 text-xl transition-transform transform hover:scale-110 text-theme-primary" href="{{ tag.permalink }}"><span class="text-theme-text hover:text-theme-primary">{{ tag.name }}</span><sup class="left-1 text-lg">{{ tag.pages | length }}</sup></a>
  {% endfor %}
</div>
{% endblock content %}