{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if term.name and config.title %}
    {% set title = term.name ~ title_separator ~ config.title %}
  {% elif term.name %}
    {% set title = term.name %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {{ macros_head::seo(
    title=title,
    description=config.description) }}
{% endblock %}

{% block content %}
  {% if paginator %}
    {% set posts = paginator.pages %}
  {% else %}
    {% set posts = term.pages %}
  {% endif %}
  <h1 class="text-3xl sm:text-5xl text-left sm:text-center py-12 sm:py-16">#{{ term.name }}</h1>
  <div class="relative mx-auto max-w-screen-md flex flex-wrap">
    {{ macros_posts::render(posts=posts, paginator=paginator) }}
  </div>
{% endblock content %}
