{% extends "base.html" %}

{% block atom %}
  {% set atom_path = "tags/" ~ term.name ~ "/atom.xml" %}
  <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path=atom_path, trailing_slash=false) }}">
{% endblock atom %}

{% block seo %}
  {{ super() }}

  {% if term.name and config.title %}
    {% set title = term.name | title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif term.name %}
    {% set title = term.name %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {{ macros_head::seo(title=title, title_addition=title_addition, description=config.description) }}
{% endblock %}

{% block content %}
  {% if paginator %}
    {% set posts = paginator.pages %}
  {% else %}
    {% set posts = term.pages %}
  {% endif %}
  <h1 class="text-4xl sm:text-6xl text-left sm:text-center py-12 sm:py-16">#{{ term.name | title }}</h1>
  <div class="relative mx-auto max-w-screen-md flex flex-wrap">
    {{ macros_posts::render(posts=posts, paginator=paginator) }}
  </div>
{% endblock content %}
