{% extends "base.html" %}

{% block favicons %}
  {{ macros_head::favicons(emoji="👋") }}
{% endblock favicons %}

{% block seo %}
  {{ super() }}
  {% if page.title and config.title %}
    {% set title = page.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif page.title %}
    {% set title = page.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}

  {{ macros_head::seo(
    title=title,
    title_addition=title_addition,
    description=description,
    type="website",
    created_time=page.date,
    updated_time = page.updated) }}
{% endblock seo %}

{% block content %}
<div class="w-full flex flex-col justify-center text-center">
  <h1 class="text-4xl sm:text-6xl py-12 sm:py-16">Hey there. 👋</h1>
  <p class="text-lg sm:text-2xl py-4">I'm ETEPLUS. 👻</p>
  <p class="text-lg sm:text-2xl py-4">A front-end web developer based in China. 👨🏻‍💻</p>
  <p class="inline-block text-lg sm:text-2xl py-4">Love Coding ❤️</p>
  <div class="text-lg sm:text-2xl py-4 ">I'm learning <a class="text-theme-text-offset underline hover:text-theme-primary" href="https://www.rust-lang.org/learn">Rust</a>. 🦀</div>
</div>
{% endblock content %}