{% extends "page.html" %}

{% block seo %}
  {{ super() }}
  {% set title = page.title %}
{% endblock seo %}

{% block content %}
<div class="w-full flex flex-col justify-center">
  <h1 class="text-4xl sm:text-6xl text-center py-12 sm:py-16">Hey there. 👋</h1>
  <p class="text-lg sm:text-2xl py-4 text-center">I'm a front-end web developer. 👻</p>
  <div class="text-lg sm:text-2xl py-4 text-center">I'm learning <a class="text-theme-primary underline" href="https://www.rust-lang.org/learn">Rust</a>. 🦀</div>
  <p class="inline-block text-lg sm:text-2xl py-4 text-center">My code was eaten by a 🐱.</p>
</div>
{% endblock content %}