{% extends "section.html" %}

{% block content %}
  {% set section = get_section(path="posts/_index.md") %}
  <h1 class="title">Archives</h1>
  <div class="archive-wrapper">
    {% for year, posts in section.pages | group_by(attribute="year") %}
      <h2 class="archive-year">{{ year }}</h2>
      <ul class="archive-list">
        {% for post in posts %}
          <li class="archive-item">
            <span class="archive-item__date">{{ post.date | date(format='%b %d') }}</span>
            {# title #}
            <a class="archive-item__title" href="{{ post.permalink }}" alt="{{ post.title }}" rel="bookmark">
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endblock content %}