{% extends "section.html" %}

{% block favicons %}
  {{ macros_head::favicons(emoji="🤔") }}
{% endblock favicons %}

{% block seo %}
  {{ super() }}
  {% set title = "Posts"%}
  {% set title_addition = title_separator ~ config.title %}
{% endblock seo %}

{% block content %}
  {% if paginator %}
    {% set posts = paginator.pages %}
  {% else %}
    {% set posts = section.pages %}
  {% endif %}
  <h1 class="text-4xl sm:text-6xl text-left sm:text-center py-12 sm:py-16">{{ section.title }}</h1>
  <div class="relative mx-auto max-w-screen-md flex flex-wrap">
    {{ macros_posts::render(posts=posts, paginator=paginator) }}
  </div>
{% endblock content %}