:root {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-headline: #001858;
  --color-text: #172c66;
  --color-text-offset: #005c75;
  --color-border: #efc0a9;
  --color-primary: #7a2949;
  --color-secondary: #5cc8d6;
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-bg: #242629;
    --color-bg-offset: #2b303b;
    --color-headline: #e6e6e6;
    --color-text: #94a1b2;
    --color-text-offset: #94a1b2;
    --color-border: #72757e;
    --color-primary: #9876ff;
    --color-secondary: #2cb67d;
  }
}

[data-theme='light'] {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-headline: #001858;
  --color-text: #172c66;
  --color-text-offset: #005c75;
  --color-border: #efc0a9;
  --color-primary: #7a2949;
  --color-secondary: #5cc8d6;
}

[data-theme='dark'] {
  --color-bg: #242629;
  --color-bg-offset: #2b303b;
  --color-headline: #e6e6e6;
  --color-text: #94a1b2;
  --color-text-offset: #94a1b2;
  --color-border: #72757e;
  --color-primary: #9876ff;
  --color-secondary: #2cb67d;
}

/*! tailwindcss v2.2.6 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	-o-tab-size: 4;
	   tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: currentColor; /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

.footer, span, .post__tags, th, td {
  --tw-border-opacity: 1;
  border-color: rgba(229, 231, 235, var(--tw-border-opacity));
}

h1, h2, h3 {
  font-weight: 500;
}

html {
    scroll-behavior: smooth;
  }

body {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;

    font-family: "Noto Serif", sans-serif, Georgia, Cambria, "Times New Roman", Times;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-text-size-adjust: 100%;
    transition: color .2s, background-color .2s;
}

::-moz-selection {
    color: white;
    background: var(--color-secondary);
  }

::selection {
    color: white;
    background: var(--color-secondary);
  }

main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  max-width: 1024px;
  flex: 1 1 0%;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}

main img {
    content-visibility: auto;
  }

.title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0px;
  margin-right: auto;
  display: inline-flex;
  text-align: left;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {

  .title {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    text-align: center;
  }

  .title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.title {
  
    color: var(--color-headline);

    background-image: linear-gradient(transparent 0%, transparent calc(50% - 12px), var(--color-bg-offset) 90%, var(--color-bg-offset) 100%);
  }

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.block {
  display: block;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-cyrillic-ext-italic.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-cyrillic-italic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-greek-ext-italic.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-greek-italic.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-vietnamese-italic.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-latin-ext-italic.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-latin-italic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-cyrillic-ext-regular.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-cyrillic-regular.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-greek-ext-regular.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-greek-regular.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-vietnamese-regular.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-latin-ext-regular.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/noto-serif/noto-serif-v11-latin-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

header {
  position: relative;
  width: 100%;

  color: var(--color-headline);
}

.navbar {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  padding: 2rem;
}

@media (min-width: 640px) {

  .navbar {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 640px) {

  .navbar {
    flex-direction: row;
  }
}

.navbar__author {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.navbar__author a {
  display: flex;
}

.navbar__author a {
  cursor: pointer;
}

.navbar__author a {
  align-items: center;
}

.navbar__author a {
  font-weight: 600;
}

.navbar__author a:hover {
      color: var(--color-primary);
    }

.navbar__menu {
  position: relative;
  width: auto;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbar__menu-item {
  display: inline-block;
}

.navbar__menu-item:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navbar__menu-item a:not(#toggle-theme) {
  position: relative;
  display: inline-block;
  padding: 1rem;
  vertical-align: baseline;
}

.navbar__menu-item a:not(#toggle-theme):focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.navbar__menu-item a:not(#toggle-theme):before {
    content: '';
    position: absolute;
    right: 100%;
    bottom: 12px;
    left: 1rem;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color-border);
    transition: all 0.35s ease-in-out;
  }

.navbar__menu-item a:not(#toggle-theme):hover:before {
    right: 1rem;
  }

.navbar__menu-item--active a:not(#toggle-theme):before {
  background-color: var(--color-primary);
  transition: none;
  right: 1rem;
}

#toggle-theme {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

#toggle-theme:hover {
    background-color: var(--color-border);
  }

.icon-light, .icon-dark {
  display: none;
}

[data-theme='light'] .icon-dark {
  display: block;
}

[data-theme='dark'] .icon-light {
  display: block;
}

.footer {
  position: relative;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top-width: 1px;
  border-style: solid;

  color: var(--color-text);
  border-color: var(--color-border);
}

.footer__icons {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__icons a {
  display: inline-flex;
}

.footer__icons a {
  align-items: center;
}

.footer__icons a {
  justify-content: center;
}

.footer__icons a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.footer__icons a {
  height: 36px;
}

.footer__icons a {
  width: 36px;
}

.footer__icons a {
  border-radius: 50%;
}

.footer__icons a {
    
    color: var(--color-headline);
  }

.footer__icons a:hover {
    background-color: var(--color-border);
  }

.footer__icons svg {
  display: inline-block;
}

.footer__licence {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__licence span {
  margin-right: 0.5rem;
}

.footer__licence span {
  border-bottom-width: 2px;
}

.footer__licence span {
  border-bottom-color: transparent;
}

.footer__licence a {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.footer__licence a:hover {
  border-color: var(--color-primary);
}

.footer__licence a {
  display: inline-block;
}

.footer__licence a {

    border-bottom-color: var(--color-border);
  }

.footer__licence a:hover {
      color: var(--color-primary);
    }

.post-list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 768px;
  flex-wrap: wrap;
}

.post-item {
  position: relative;
  margin-bottom: 4rem;
  display: flex;
  width: 100%;
  flex-direction: column;
}

@media (min-width: 768px) {

  .post-item {
    flex-direction: row;
  }
}

.post-item__hero {
  margin-bottom: 1rem;
  display: flex;
  flex: 1 1 0%;
}

@media (min-width: 768px) {

  .post-item__hero {
    margin-bottom: 0px;
  }

  .post-item__hero {
    margin-right: 2rem;
  }

  .post-item__hero {
    min-height: 220px;
  }
}

.post-item__hero img {
  display: block;
}

.post-item__hero img {
  height: 100%;
}

.post-item__hero img {
  width: 100%;
}

.post-item__hero img {
  border-radius: 0.5rem;
}

.post-item__hero img {
  -o-object-fit: cover;
     object-fit: cover;
}

.post-item__inner {
  position: relative;
  display: flex;
  width: 100%;
  flex: 2 2 0%;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1.5rem;
}

.post-item__title {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.post-item__title:hover {
  border-color: var(--color-primary);
}

.post-item__title {
  position: relative;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;

  color: var(--color-headline);
}

.post-item__title:hover {
    color: var(--color-primary);
  }

.post-item__meta {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  
  color: var(--color-text-offset);
}

.post-item__tag {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.post-item__tag:hover {
  border-color: var(--color-primary);
}

.post-item__tag {
  text-transform: lowercase;
}

.post-item__tag:hover {
    color: var(--color-primary);
  }

.post-item__summary, .post-item__description {
  overflow-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  color: var(--color-text);
}

.paginator {
  padding-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;

  color: var(--color-text);
}

.paginator__prev, .paginator__next {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.paginator__prev:hover, .paginator__next:hover {
  border-color: var(--color-primary);
}

.paginator__prev, .paginator__next {

  color: var(--color-headline);
  border-bottom-color: var(--color-border);
}

.paginator__prev:hover, .paginator__next:hover {
    color: var(--color-primary);
  }

.welcome {
  position: relative;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: left;
}

.welcome__title {
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

@media (min-width: 640px) {

  .welcome__title {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.welcome__title {

  color: var(--color-headline);
}

.welcome__title-word {
  position: relative;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;

  overflow: hidden;
  overflow: clip;
}

.welcome__title-word > span {
    transition: transform .3s ease;
    cursor: pointer;
  }

.welcome__title-word > span:not(:hover) {
      transform: translateY(50%);
    }

.welcome__title-word > p {
  position: absolute;
}

.welcome__title-word > p {
  white-space: pre-wrap;
}

.welcome__title-word > p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.welcome__title-word > p {
  font-style: italic;
}

@media (min-width: 640px) {

  .welcome__title-word > p {
    white-space: nowrap;
  }
}

@media (min-width: 640px) {

  .welcome__title-word > p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.welcome__title-word > p {

    opacity: 0;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-text);
    border-radius: 0.5em;
    box-shadow: 0 0 8px var(--color-bg-offset);
    background-color: var(--color-bg-offset);
    padding: .5em 1em;
  }

.welcome__title-word:hover {
  overflow: visible;
}

.welcome__title-word:hover> p {
      opacity: 1;
      transition: opacity 0.3s linear .2s;
      z-index: 999;
    }

.recent-post-list-title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {

  .recent-post-list-title {
    margin-bottom: 3rem;
  }

  .recent-post-list-title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.recent-post-list-title {

  color: var(--color-headline);
}

.recent-post-list {
  position: relative;
  display: flex;
  max-width: 768px;
  flex-direction: column;
}

.recent-post-item {
  position: relative;
  margin-bottom: 3rem;
}

.read-all-post-list {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.read-all-post-list:hover {
  border-color: var(--color-primary);
}

.read-all-post-list {
  margin-bottom: 4rem;
  display: inline-flex;
  align-self: flex-start;
  font-size: 1.125rem;
  line-height: 1.75rem;

  color: var(--color-headline);
  border-bottom-color: var(--color-border);
}

.read-all-post-list:hover {
    color: var(--color-primary);
  }

.archive-wrapper {
  position: relative;
  display: flex;
  max-width: 768px;
  flex-direction: column;
  padding-bottom: 4rem;
}

@media (min-width: 640px) {

  .archive-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

.archive-year {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;

  color: var(--color-headline);
}

.archive-list {
  list-style-type: disc;
  padding-left: 1rem;
  padding-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.archive-item {
  position: relative;
  margin-bottom: 0.5rem;
  width: 100%;
}

.archive-item__date {
  margin-right: 1rem;

  color: var(--color-text-offset);
}

.archive-item__title {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.archive-item__title:hover {
  border-color: var(--color-primary);
}

.archive-item__title {
  display: inline-block;
  font-weight: 500;
}

.archive-item__title:hover {
  color: var(--color-primary);
}

.archive-item__title {
  
  color: var(--color-headline);
}

.tag-list {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 768px;
  flex-wrap: wrap;
}

.tag {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.tag:hover {
  border-color: var(--color-primary);
}

.tag {
  position: relative;
  margin-bottom: 1.5rem;
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tag:not(:last-child) {
  margin-right: 3rem;
}

.tag span {
    color: var(--color-text);
  }

.tag sup {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tag sup {

    color: var(--color-primary);
  }

.tag:hover span {
    color: var(--color-primary);
  }

.post {
  position: relative;
}

@media (min-width: 1280px) {

  .post {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.post__header {
  margin-bottom: 1.5rem;
  padding-top: 3rem;
  text-align: left;
}

@media (min-width: 640px) {

  .post__header {
    margin-bottom: 2rem;
  }

  .post__header {
    padding-top: 4rem;
  }

  .post__header {
    text-align: center;
  }
}

.post__title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {

  .post__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.post__title {

  color: var(--color-headline);
}

.post__meta {
  display: flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__meta {
    justify-content: center;
  }

  .post__meta {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post__meta {

  color: var(--color-text-offset);
}

.post__hero {
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 0.375rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {

  .post__hero {
    margin-bottom: 2rem;
  }
}

.post__hero {

  padding-bottom: 55%;
}

.post__tags {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 768px;
  border-bottom-width: 1px;
  border-style: solid;
  padding-top: 1rem;
  padding-bottom: 1rem;

  color: var(--color-text-offset);
  border-color: var(--color-text-offset);
}

.post__tag {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.post__tag:hover {
  border-color: var(--color-primary);
}

.post__tag {
  margin-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__tag {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post__tag:hover {
    color: var(--color-primary);
  }

.post__related {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  display: flex;
  max-width: 768px;
  flex-direction: column;
}

@media (min-width: 640px) {

  .post__related {
    flex-direction: row;
  }

  .post__related {
    justify-content: space-between;
  }
}

.post__later, .post__earlier {
  margin-bottom: 1rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;

  color: var(--color-headline);
}

.post__later > *, .post__earlier > * {
  display: inline-block;
}

.post__later > span, .post__earlier > span {
  margin-bottom: 0.25rem;
}

.post__later > a, .post__earlier > a {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.post__later > a:hover, .post__earlier > a:hover {
  border-color: var(--color-primary);
}

.post__later > a, .post__earlier > a {
  white-space: nowrap;
}

.post__later > a, .post__earlier > a {

    border-bottom-color: var(--color-border);
  }

.post__later > a:hover, .post__earlier > a:hover {
      color: var(--color-primary);
    }

.post__later {
  align-items: flex-start;
}

.post__earlier {
  align-items: flex-start;
}

@media (min-width: 640px) {

  .post__earlier {
    align-items: flex-end;
  }
}

.post__content {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 768px;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__content {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post__toc {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 768px;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__toc {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post__toc h2 {
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {

  .post__toc h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.post__toc h2 {

  color: var(--color-headline);
  margin-top: 2em;
  margin-bottom: 1em;
}

.post__toc a {
  transition: box-shadow 400ms ease 0s;
  box-shadow: 0px 0px 0px var(--color-primary);
}

.post__toc a:hover {
  transition: box-shadow 100ms ease 0s;
  box-shadow: 0px 2px 0px var(--color-primary);
}

.post__toc a {
  position: relative;
  display: inline-block;
}

.post__toc a:hover {    
    color: var(--color-primary);
  }

.post__toc a:active {
    color: var(--color-primary);
  }

.post__toc ul {
  list-style-position: outside;
  list-style-type: disc;
  
  padding-left: 1.25em;
}

.post__toc ul ul {
  margin-top: 0px;
  margin-bottom: 0px;

  list-style-type: circle;
}

.post__toc li ul {
  list-style-type: circle;
}

.post__toc li ul li ul {
  list-style-type: square;
}

.post__toc ul li:not(:last-child) {
  margin-bottom: 0.2em;
}

.post__content > * {
  margin-bottom: 2rem;
}

/* link */

.post__content a:not(.post__anchor) {
  transition: box-shadow 400ms ease 0s;
  box-shadow: 0px 0px 0px var(--color-primary);
}

.post__content a:not(.post__anchor):hover {
  transition: box-shadow 100ms ease 0s;
  box-shadow: 0px 2px 0px var(--color-primary);
}

.post__content a:not(.post__anchor) {
  position: relative;
  display: inline-block;
  
  color: var(--color-primary);
}

.post__anchor {
  position: absolute;
  opacity: 0;

  left: -1.1em;
}

.post__content a:not([href]) {
  text-decoration: none;

  color: inherit;
}

/* sup, sub */

.post__content sup,
.post__content sub {
  font-size: 0.8em;
}

.post__content sup a,
.post__content sub a {
  border-bottom: none;
}

/* mark */

.post__content mark {
  color: var(--color-text);
  background-color: var(--color-bg-offset);
  padding: 2px 4px;
}

/* divider */

.post__content hr {
  text-align: center;
  height: 2px;
  margin: 2rem auto;
  border: 0 solid var(--color-border);
  background-color: var(--color-border);
}

/* blockquote */

.post__content blockquote {
  font-style: italic;

  quotes: '“' '”' '‘' '’';
  border-left: 0.3em solid var(--color-secondary);
  padding: .5em 1em;
}

.post__content blockquote > :first-child {
  margin-top: 0;
}

.post__content blockquote > :last-child {
  margin-bottom: 0;
}

/* title */

.post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
  position: relative;
  cursor: pointer;

  color: var(--color-headline);
  margin-top: 2em;
  margin-bottom: 1em;
}

.post__content h1:hover .post__anchor, .post__content h2:hover .post__anchor, .post__content h3:hover .post__anchor, .post__content h4:hover .post__anchor {
  opacity: 1;
}

.post__content h2 tt,
.post__content h2 code,
.post__content h3 tt,
.post__content h3 code,
.post__content h4 tt,
.post__content h4 code,
.post__content h5 tt,
.post__content h5 code,
.post__content h6 tt,
.post__content h6 code {
  font-size: inherit;
}

.post__content h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {

  .post__content h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.post__content h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {

  .post__content h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.post__content h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {

  .post__content h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.post__content h4 {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__content h4 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.post__content h5 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 640px) {

  .post__content h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.post__content h6 {
  font-size: 0.75rem;
  line-height: 1rem;
}

@media (min-width: 640px) {

  .post__content h6 {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

/* list */

.post__content ul, .post__content ol {
  list-style-position: outside;

  padding-left: 1.25em;
}

.post__content ul {
  list-style-type: disc;
}

.post__content ol {
  list-style: decimal;
}

.post__content ul ul,
.post__content ul ol,
.post__content ol ol,
.post__content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post__content ul ul,
.post__content ol ul {
  list-style-type: circle;
}

.post__content ol li:not(:last-child),
.post__content ul li:not(:last-child) {
  margin-bottom: 0.25em;
}

/* table */

.post__content dl {
  padding: 0px;
}

.post__content dl dt {
  padding: 0px;
  font-weight: 500;
  font-style: italic;
}

.post__content dl dd {
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.post__content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.post__content table th {
  font-weight: 600;
}

.post__content table th, .post__content table td {
  border-width: 1px;
  border-style: solid;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  border-color: var(--color-border);
}

.post__content table thead {
  background-color: var(--color-bg-offset);
}

.post__content table tbody tr {
  background-color: var(--color-bg);
}

.post__content table img {
  background-color: transparent;
}

/* image */

.post__content img, .post__content video {
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  display: block;
  height: auto;
  max-width: 100%;
  text-align: center;
}

.post__content img[align='right'] {
  padding-left: 1.5rem;
}

.post__content img[align='left'] {
  padding-right: 1.5rem;
}

/* code */

.post__content pre {
  display: block;
  overflow-x: auto;
  white-space: pre;
  padding: 2rem;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 640px) {

  .post__content pre {
    padding: 3rem;
  }
}

.post__content pre {

  direction: ltr;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  word-spacing: normal;
  margin: 2rem calc(50% - 50vw);
}

@media (min-width: 768px) {

  .post__content pre {
    margin-left: 0px;
    margin-right: 0px;
  }

  .post__content pre {
    border-radius: 0.5rem;
  }
}

.post__content pre code {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 768px;
  overflow-x: auto;

  font-size: 1em;
  line-height: 1.85;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

.post__content :not(pre) > code {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: inline-block;

  background-color: var(--color-bg-offset);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8em;
}

.post__content .footnote-reference a {
  text-decoration: none;
}

.post__content .footnote-definition {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
}

.post__content .footnote-definition p {
  display: inline-block;
}

.post__content .footnote-definition:not(:last-child) {
  margin-bottom: 1rem;
}

.post__content .footnote-definition-label {
  left: 0px;
  top: 0px;
  margin-right: 0.5rem;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.not-found {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  padding-top: 8rem;
  text-align: center;
}

@media (min-width: 640px) {

  .not-found {
    padding-top: 4rem;
  }
}

.not-found {

  color: var(--color-headline);
}

.not-found svg {
  margin-left: auto;
  margin-right: auto;
}

.not-found svg {
  margin-bottom: 2rem;
}

.not-found__title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.not-found__back {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.not-found__back:hover {
  border-color: var(--color-primary);
}

.not-found__back {
  display: inline-flex;
  
  color: var(--color-text-offset);
}

.not-found__back:hover {
    color: var(--color-primary);
  }

.about {
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

@media (min-width: 640px) {

  .about {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.about p {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about__title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-flex;
  align-self: flex-start;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}

@media (min-width: 640px) {

  .about__title {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .about__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.about__title {

  color: var(--color-headline);

  background-image: linear-gradient(transparent 0%, transparent calc(50% - 12px), var(--color-bg-offset) 90%, var(--color-bg-offset) 100%);
}

.about__link {
  border-bottom-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.about__link:hover {
  border-color: var(--color-primary);
}

.about__link {

  border-bottom-color: var(--color-border);
}

.about__link:hover {
    color: var(--color-primary);
  }