{% macro footer() %}
<footer class="relative px-6 py-4 sm:py-8 sm:px-12 text-base flex flex-wrap flex-col border-t border-solid border-theme-border">
  <div class="mb-4 flex items-center justify-center text-gray-900">
    {% if config.extra.github %}
      <a class="mx-2" target="_blank" rel="external noopener" alt="github" href="{{ config.extra.github }}"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block icon-github"
        >
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          />
        </svg>
      </a>
    {% endif %}
    {% if config.generate_feed %}
      <a class="mx-2" target="_blank" rel="external noopener" href="/sitemap.xml">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="inline-block icon-rss"
        >
          <path d="M4 11a9 9 0 0 1 9 9" />
          <path d="M4 4a16 16 0 0 1 16 16" />
          <circle cx="5" cy="19" r="1" /></svg>
      </a>
    {% endif %}
  </div>
  <div class="flex items-center justify-center flex-wrap">
    <span class="mr-2"> Copyright © 2021 {{ config.extra.author }}. Licensed under</span>
    <a
      class="inline-block underline text-theme-primary hover:text-theme-primary-offset"
      target="_blank"
      rel="external noopener license"
      href="https://creativecommons.org/licenses/by-nd/4.0/"
      >CC BY-ND 4.0
    </a>
  </div>
</footer>
{% endmacro %}
