{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "ETEPLUS" %}
  {% endif %}

  {{ macros_head::seo(title=title, description=config.description) }}
{% endblock %}

{% block content %}
  <div class="welcome">
    <div class="welcome__title">
      <div class="welcome__title-word">
        <span>Hello</span>
        <p>I'm ETEPLUS 👋</p>
      </div>
      <div class="welcome__title-word">
        <span>World</span>
        {# <p >This world is not beautiful, so beautiful is worth your pursuit.</p> #}
        <p>Coding for fun and with ❤️</p>
      </div>
      <div class="welcome__title-word">
        <span>🐱</span>
        <p>My code was eaten by a cat 🙀</p>
      </div>
    </div>
  </div>
  <h2 class="recent-post-list-title">Recent Posts</h2>
  <div class="recent-post-list">
    {% set section = get_section(path="posts/_index.md") %}
    {% for post in section.pages | slice(end=3) %}
      <article class="post-item recent-post-item">
        <div class="post-item__inner">
          {# title #}
          <a class="post-item__title" href="{{ post.permalink }}" alt="{{ post.title }}" rel="bookmark">
            {{ post.title }}
          </a>
          {# meta #}
          <div class="post-item__meta">
            <span>{{ post.date | date(format='%b %d, %Y') }}</span>
            {% if post.taxonomies.tags %}
              <span class="mx-2">•</span>
              {% for tag in post.taxonomies.tags %}
                <a
                  href="{{ get_taxonomy_url(kind='tags', name=tag) }}"
                  class="post-item__tag"
                  alt="{{ tag }}"
                >{{ tag }}</a>
                {% if not loop.last %}
                  <span class="mx-2">•</span>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          {# summary #}
          {% if post.summary %}
            <div class="post-item__summary">{{ post.summary | safe }}</div>
          {% elif post.description %}
            <p class="post-item__description">{{ post.description | safe }}</p>
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>
  <a class="read-all-post-list" href="{{ get_url(path="@/posts/_index.md") }}">Read all posts&nbsp;»</a>
{% endblock content %}