{% extends "base.html" %}

{% block favicons %}
  {{ macros_head::favicons(emoji="🤔") }}
{% endblock favicons %}

{% block seo %}
  {{ super() }}

  {% if page.title and config.title %}
    {% set title = page.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif page.title %}
    {% set title = page.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}

  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}

  {{ macros_head::seo(
    title=title,
    title_addition=title_addition,
    description=description,
    type="article",
    created_time=page.date,
    updated_time = page.updated) }}
{% endblock %}

{% block content %}
  <div class="post" role="document">
    <div class="post__header">
      <h1 class="post__title">{{ page.title | safe }}</h1>
      <div class="post__meta">
        <span class="post__date">{{ page.date | date(format='%B %d, %Y') }}</span>
        {% if page.reading_time %}
          <span class="mx-2">•</span>
          <span>{{ page.reading_time }} min read</span>
        {% endif %}
      </div>
    </div>

    {% if page.extra.hero %}
      <div class="post__hero" style="background-image: url({{ get_url(path=page.extra.hero) }});"></div>
    {% endif %}

    <div class="post__content">
      {{ page.content | safe }}
    </div>
    <div class="post__tags">
      {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <a
            href="{{ get_taxonomy_url(kind='tags', name=tag) }}"
            class="post__tag"
            alt="{{ tag }}"
          >#{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </div>
    <div class="post__related">
      {% if page.later %}
        <div class="post__later">
          <span>Previous</span>
          <a href="{{ page.later.permalink }}" alt="{{ page.later.title }}">«&nbsp;{{ page.later.title }}</a>
        </div>
      {% endif %}
      {% if page.earlier %}
        <div class="post__earlier">
          <span>Next</span>
          <a href="{{ page.earlier.permalink }}" alt="{{ page.earlier.title }}">{{ page.earlier.title }}&nbsp;»</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}
