.menu a:not(#toggle-theme) {
  @apply relative p-4 inline-block align-baseline focus:outline-none;

  &.active:before {
    background-color: var(--color-primary);
    transition: none;
    right: 0.75rem;
  }

  &:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 12px;
    left: 0.75rem;
    height: 4px;
    background-color: var(--color-border);
    transition: all 0.35s ease-in-out;
  }

  &:hover:before {
    right: 0.75rem;
  }
}

#toggle-theme {
  @apply inline-flex items-center justify-center;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  &:hover {
    background-color: var(--color-border);
  }
}

.icon-light, .icon-dark {
  @apply hidden;
}

[data-theme="light"] {
  .icon-dark {
    @apply block;
  }
}

[data-theme="dark"] {
  .icon-light {
    @apply block;
  }
}