.post {
  @apply relative xl:-mx-8;
}

.post__header {
  @apply pt-12 sm:pt-16 mb-6 sm:mb-8 text-left sm:text-center;
}

.post__title {
  @apply text-2xl sm:text-4xl mb-6;

  color: var(--color-headline);
}

.post__meta {
  @apply flex items-center sm:justify-center text-base sm:text-lg;

  color: var(--color-text-offset);
}

.post__hero {
  @apply relative w-full bg-no-repeat bg-cover bg-center rounded-md mb-6 sm:mb-8;

  padding-bottom: 55%;
}

.post__tags {
  @apply max-w-screen-md mx-auto border-b border-solid py-4 mb-4;

  color: var(--color-text-offset);
  border-color: var(--color-text-offset);
}

.post__tag {
  @apply text-base sm:text-lg border-b-primary mr-4;

  &:hover {
    color: var(--color-primary);
  }
}

.post__related {
  @apply flex flex-col sm:flex-row sm:justify-between max-w-screen-md mx-auto mb-16;
}

.post__later, .post__earlier {
  @apply flex flex-col flex-1 mb-4;

  color: var(--color-headline);

  & > * {
    @apply inline-block;
  }

  & > span {
    @apply mb-1;
  }

  & > a {
    @apply whitespace-nowrap border-b-primary;

    border-bottom-color: var(--color-border);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.post__later {
  @apply items-start;
}

.post__earlier {
  @apply items-start sm:items-end;
}

.post__content {
  @apply w-full max-w-screen-md mx-auto text-base sm:text-lg mb-4;
}

.post__content > * {
  @apply mb-8;
}

/* link */
.post__content a {
  @apply relative inline-block shadow-b-primary;
  
  color: var(--color-primary);
}

.post__content a:not([href]) {
  @apply no-underline;

  color: inherit;
}

/* sup, sub */
.post__content sup,
.post__content sub {
  font-size: 0.8em;
}

.post__content sup a,
.post__content sub a {
  border-bottom: none;
}

/* mark */
.post__content mark {
  color: var(--color-text);
  background-color: var(--color-bg-offset);
  padding: 2px 4px;
}

/* divider */
.post__content hr {
  text-align: center;
  height: 2px;
  margin: 2rem auto;
  border: 0 solid var(--color-border);
  background-color: var(--color-border);
}

/* blockquote */
.post__content blockquote {
  @apply italic;

  quotes: '“' '”' '‘' '’';
  border-left: 0.3em solid var(--color-secondary);
  padding: .5em 1em;
}

.post__content blockquote > :first-child {
  margin-top: 0;
}

.post__content blockquote > :last-child {
  margin-bottom: 0;
}

/* title */
.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6 {
  @apply relative;

  color: var(--color-headline);
  margin-top: 2em;
  margin-bottom: 1em;
}

.post__content h1,
.post__content h2,
.post__content h3 {

  &:before {
    @apply absolute opacity-0;

    content: '#';
    color: var(--color-primary);
    left: -0.8em;
  }

  &:hover:before {
    @apply opacity-100;
  }
}

.post__content h2 tt,
.post__content h2 code,
.post__content h3 tt,
.post__content h3 code,
.post__content h4 tt,
.post__content h4 code,
.post__content h5 tt,
.post__content h5 code,
.post__content h6 tt,
.post__content h6 code {
  font-size: inherit;
}

.post__content h1 {
  @apply text-2xl sm:text-4xl;
}

.post__content h2 {
  @apply text-xl sm:text-2xl;
}

.post__content h3 {
  @apply text-lg sm:text-xl;
}

.post__content h4 {
  @apply text-base sm:text-lg;
}

.post__content h5 {
  @apply text-sm sm:text-base;
}

.post__content h6 {
  @apply text-xs sm:text-sm;
}

/* list */
.post__content ul,
.post__content ol {
  @apply list-outside;

  padding-left: 1.25em;
}

.post__content ul {
  list-style-type: disc;
}

.post__content ol {
  list-style: decimal;
}

.post__content ul ul,
.post__content ul ol,
.post__content ol ol,
.post__content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post__content ul ul,
.post__content ol ul {
  list-style-type: circle;
}

.post__content ol li:not(:last-child),
.post__content ul li:not(:last-child) {
  margin-bottom: 0.25em;
}

/* table */
.post__content dl {
  @apply p-0;
}

.post__content dl dt {
  @apply p-0 font-medium italic;
}

.post__content dl dd {
  @apply mb-4 px-2;
}

.post__content table {
  @apply block overflow-auto w-full;
}

.post__content table th {
  @apply font-semibold;
}

.post__content table th,
.post__content table td {
  @apply border border-solid px-6 py-4;

  border-color: var(--color-border);
}

.post__content table thead {
  background-color: var(--color-bg-offset);
}

.post__content table tbody tr {
  background-color: var(--color-bg);
}

.post__content table img {
  background-color: transparent;
}

/* image */
.post__content img,
.post__content video {
  @apply block max-w-full h-auto mx-auto box-content text-center;
}

.post__content img[align='right'] {
  @apply pl-6;
}

.post__content img[align='left'] {
  @apply pr-6;
}

/* code */
.post__content pre {
  @apply block overflow-x-auto whitespace-pre;
  @apply text-base text-left p-8 sm:p-12;

  direction: ltr;
  hyphens: none;
  word-spacing: normal;
  margin: 2rem calc(50% - 50vw);

  @apply md:mx-0 md:rounded-lg;
}

.post__content pre code {
  @apply block w-full max-w-screen-md mx-auto overflow-x-auto;

  font-size: 1em;
  line-height: 1.85;
  tab-size: 4;
}

.post__content :not(pre) > code {
  @apply inline-block mx-1;

  background-color: var(--color-bg-offset);
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.8em;
}

.post__content .footnote-reference a {
  @apply no-underline;
}

.post__content .footnote-definition {
  @apply block text-base;

  & p {
    @apply inline-block;
  }

  &:not(:last-child) {
    @apply mb-4;
  }
}

.post__content .footnote-definition-label {
  @apply inline-block text-lg left-0 top-0 mr-2;
}
