.post {
  @apply relative;
}

.post__header {
  @apply pt-12 sm:pt-16 mb-6 sm:mb-8 text-left sm:text-center;
}

.post__title {
  @apply text-theme-headline text-4xl sm:text-6xl mb-6;
}

.post__meta {
  @apply flex items-center sm:justify-center text-base sm:text-lg text-theme-text-offset;
}

.post__hero {
  @apply relative w-full bg-no-repeat bg-cover bg-center rounded-md mb-6 sm:mb-8;

  padding-bottom: 55%;
}

.post__descripiton {
  @apply italic text-lg sm:text-xl max-w-screen-md mx-auto mb-8 sm:mb-12;
}

.post__content {
  @apply font-mono w-full max-w-screen-md mx-auto text-base sm:text-lg mb-4;
}

.post__content > * {
  @apply mb-8;
}

/* link */

.post__content a {
  @apply relative inline-block;
  @apply text-theme-primary hover:underline active:underline;
}

.post__content a:not([href]) {
  @apply no-underline;

  color: inherit;
}

/* sup, sub */

.post__content sup, .post__content sub {
  font-size: .8em;
}

.post__content sup a, .post__content sub a {
  border-bottom: none;
}

/* mark */

.post__content mark {
  @apply text-theme-text bg-theme-bg-offset;

  padding: 2px 4px;
}


/* divider */

.post__content hr {
  text-align: center;
  height: 2px;
  margin: 2rem auto;
  border: 0 solid var(--color-border);
  background-color: var(--color-border)
}

/* blockquote */

.post__content blockquote {
  @apply text-lg italic;

  quotes: '“' '”' '‘' '’';
  border-left: 0.25em solid var(--color-secondary);
  line-height: 2;
  padding: 0.25em 1em;
}

.post__content blockquote > :first-child {
  margin-top: 0;
}

.post__content blockquote > :last-child {
  margin-bottom: 0;
}

/* title */

.post__content h1,
.post__content h2,
.post__content h3,
.post__content h4,
.post__content h5,
.post__content h6 {
  @apply relative text-theme-headline;

  margin-top: 2em;
  margin-bottom: 1em;

  &:before {
    @apply absolute text-theme-primary opacity-0;

    content: '#';
    left: -.8em;
    font-size: 1.2em;
  }

  &:hover:before {
    @apply opacity-100;
  }
}

.post__content h2 tt,
.post__content h2 code,
.post__content h3 tt,
.post__content h3 code,
.post__content h4 tt,
.post__content h4 code,
.post__content h5 tt,
.post__content h5 code,
.post__content h6 tt,
.post__content h6 code {
  font-size: inherit;
}

.post__content h1 {
  @apply text-3xl sm:text-4xl;
}

.post__content h2 {
  @apply text-2xl sm:text-3xl;
}

.post__content h3 {
  @apply text-xl sm:text-2xl;
}

.post__content h4 {
  @apply text-lg sm:text-xl;
}

.post__content h5 {
  @apply text-base sm:text-lg;
}

.post__content h6 {
  @apply text-sm sm:text-base;
}

/* list */

.post__content ul,
.post__content ol {
  @apply list-outside;

  padding-left: 1.25em;
}

.post__content ul {
  list-style-type: disc;
}

.post__content ol {
  list-style: decimal;
}

.post__content ul ul,
.post__content ul ol,
.post__content ol ol,
.post__content ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.post__content ul ul,
.post__content ol ul {
  list-style-type: circle;
}

.post__content ol li:not(:last-child), .post__content ul li:not(:last-child) {
  margin-bottom: .25em;
}

/* table */

.post__content dl {
  @apply p-0;
}

.post__content dl dt {
  @apply p-0 font-medium italic;
}

.post__content dl dd {
  @apply mb-4 px-2;
}

.post__content table {
  @apply block overflow-auto w-full;
}

.post__content table th {
  @apply font-semibold;
}

.post__content table th,
.post__content table td {
  @apply border border-solid border-theme-border px-6 py-4;
}

.post__content table thead {
  @apply bg-theme-bg-offset;
}

.post__content table tbody tr {
  @apply bg-theme-bg;
}

.post__content table img {
  background-color: transparent;
}

/* image */

.post__content img, .post__content video {
  @apply block max-w-full h-auto mx-auto box-content text-center;
}

.post__content img[align="right"] {
  @apply pl-6;
}

.post__content img[align="left"] {
  @apply pr-6;
}

.post__img {
  @apply lg:-mx-12;
}

/* code */

.post__content pre {
  @apply block overflow-x-auto whitespace-pre;
  @apply font-mono text-base text-left p-8 sm:p-12;

  direction: ltr;
  hyphens: none;
  word-spacing: normal;
  margin: 2rem calc(50% - 50vw);

  @apply lg:-mx-20 lg:rounded-lg;
}

.post__content pre code {
  @apply block w-full max-w-screen-md mx-auto overflow-x-auto text-gray-400;

  font-size: 1em;
  line-height: 1.85;
  tab-size: 4;
}

.post__content :not(pre)>code {
  @apply inline-block mx-1 bg-theme-bg-offset border border-solid border-theme-border font-mono;

  padding: 2px 4px;
  border-radius: 4px;
  font-size: .8em;
}

.post__content .footnote-reference a {
  @apply no-underline;
}

.post__content .footnote-definition {
  @apply block text-base;

  & p {
    @apply inline-block;
  }

  &:not(:last-child) {
    @apply mb-4;
  }
}

.post__content .footnote-definition-label {
  @apply inline-block text-lg left-0 top-0 mr-2;
}