[data-theme='light'] {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-text: #172c66;
  --color-text-offset: #006e8a;
  --color-border: #f3d2c1;
  --color-primary: #f582ae;
  --color-primary-offset: #ff3d6a;
  --color-secondary: #8bd3dd;
}