:root {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-headline: #001858;
  --color-text: #172c66;
  --color-text-offset: #005c75;
  --color-border: #efc0a9;
  --color-primary: #7a2949;
  --color-secondary: #5cc8d6;
}

@media(prefers-color-scheme: dark) {
  :root {
    --color-bg: #242629;
    --color-bg-offset: #2b303b;
    --color-headline: #e6e6e6;
    --color-text: #94a1b2;
    --color-text-offset: #94a1b2;
    --color-border: #72757e;
    --color-primary: #9876ff;
    --color-secondary: #2cb67d;
  }
}

[data-theme='light'] {
  --color-bg: #fef6e4;
  --color-bg-offset: #f3e1d8;
  --color-headline: #001858;
  --color-text: #172c66;
  --color-text-offset: #005c75;
  --color-border: #efc0a9;
  --color-primary: #7a2949;
  --color-secondary: #5cc8d6;
}

[data-theme='dark'] {
  --color-bg: #242629;
  --color-bg-offset: #2b303b;
  --color-headline: #e6e6e6;
  --color-text: #94a1b2;
  --color-text-offset: #94a1b2;
  --color-border: #72757e;
  --color-primary: #9876ff;
  --color-secondary: #2cb67d;
}
